version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_dev
    restart: unless-stopped
    env_file:
      - .env.dev
    volumes:
      - postgres_dev_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - app_network_dev
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5

  nestjs:
    image: md-test-dev:latest
    container_name: nestjs_app_dev
    restart: unless-stopped
    env_file:
      - .env.dev
    ports:
      - "127.0.0.1:3001:3001"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app_network_dev
    healthcheck:
      test: ["CMD", "sh", "-c", "wget --no-verbose --tries=1 --spider http://localhost:3001 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 40s

volumes:
  postgres_dev_data:

networks:
  app_network_dev:
    driver: bridge